{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "next lint --fix --file",
    "git add"
  ],
  "*.{css,scss,sass}": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ]
}